.dayDate_continer {
    padding-left: 100px;
    
}
.prom_day {
    right: 70px;   
}
.oneDay {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
   
}
.accumulated {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
